[submodule "libs/libutf8"]
	path = libs/libutf8
	url = https://github.com/tantanGH/libutf8.git
[submodule "libs/libhimem"]
	path = libs/libhimem
	url = https://github.com/tantanGH/libhimem.git
[submodule "libs/libpcm8a"]
	path = libs/libpcm8a
	url = https://github.com/tantanGH/libpcm8a.git
[submodule "libs/libpcm8pp"]
	path = libs/libpcm8pp
	url = https://github.com/tantanGH/libpcm8pp.git
[submodule "libs/libj"]
	path = libs/libj
	url = https://github.com/tantanGH/libj.git
[submodule "libs/libjpeg"]
	path = libs/libjpeg
	url = https://github.com/tantanGH/libjpeg.git
[submodule "libs/libfoxenflac-x68k"]
	path = libs/libfoxenflac-x68k
	url = https://github.com/tantanGH/libfoxenflac-x68k.git
[submodule "libs/libcmdline"]
	path = libs/libcmdline
	url = https://github.com/tantanGH/libcmdline.git
[submodule "libs/libspectrum"]
	path = libs/libspectrum
	url = https://github.com/tantanGH/libspectrum.git
